.showMenu{
  position: absolute;
  background-color: #fff;
  width: 300px;
  right: 50px;
  margin-top: 235px;
}

.showMenu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

}

.showMenu ul li{
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
   

}

.showMenu ul li a{
  text-decoration: none;
  color: #000;
  cursor: pointer;



}